h1 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
span{color: #FFFFFF;}
.singer_screen {
  background: #32b1e3;
background: linear-gradient(180deg, rgba(50, 177, 227, 1) 0%, rgba(29, 106, 128, 1) 20%, rgba(0, 0, 0, 1) 100%);
}
.main_photo {
  width: 100%;
}
.singer_photo {
  width: 100%;
  position: relative;
  display: flex;
}
.singer_photo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.singer_info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.singer_info h1 {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-bottom: 10px;
}
.singer_info span {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.singer_icons {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.play_button {
  padding: 15px 15px;
  background-color: rgb(67, 197, 67);
  border-radius: 50%;
  margin-right: 20px;
}
.follow_button {
  padding: 5px 10px;
  border: rgb(147, 147, 147) 1px solid;
  border-radius: 20px 20px 20px 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.top_songs_main {
  width: 100%;
}
.top_songs {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.top_song {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
}
.song_info1 {
  display: flex;
  align-items: center;
  width: 250px;
}
.song_info1 img {
  height: 45px;
  width: 45px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
}
.song_info1 span {
  font-size: 15px;
}
.song_info2 span {
  font-size: 15px;
}
.song_info3 span {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 5px;
}
.song_info3 i {
  color: rgb(198, 198, 198);
}
.top_song:hover .song_info3 i {
  color: rgb(136, 136, 136);
}